<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>NSAppIconActionTintColorName</key>
			<string>AccentColor</string>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>ComplementingColor</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeMessage</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Please leave us feedback before deleting</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Something Wrong?</string>
			<key>UIApplicationShortcutItemType</key>
			<string>FeedbackAction</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
